<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/component/style.css">
    <link rel="stylesheet" href="~/component/media-queries.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="header_section">
        <div class="header_top">
            <div class="container-fluid header_top_container">
                <div class="contact_nav">
                    <a href="tel:7824647452">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span>+91 7824647452</span>
                    </a>
                </div>
                <div class="contact_nav">
                    <a href="mailto:shivkr12@gmail.com">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span>shivkr12@gmail.com</span>
                    </a>
                </div>
                <div class="contact_nav">
                    <a href="/Account/Login">
                        <i class="fa fa-user-secret" aria-hidden="true"></i>
                        <span>Employee Login</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="header_bottom">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md bg" id="nav">
                    <a href="/">
                        <img src="~/component/Images/logo2_nobg.png" alt="logo">
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#btn">
                        <!-- <i class='bx bx-menu'></i> -->
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="btn">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Gallery", "Gallery", "Home", new { area = "" }, new { @class = "nav-link" })

                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("AboutUs", "AboutUs", "Home", new { area = "" }, new { @class = "nav-link" })

                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("ContactUs", "ContactUs", "Home", new { area = "" }, new { @class = "nav-link" })

                            </li>

                            <li class="nav-item">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop">
                                    APPLY NOW
                                </button>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- Modal -->
    @model JIPT_Institute.Models.ImgVideoListModel
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Student Enrolment</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @using (Ajax.BeginForm("Register", "Home", new AjaxOptions { OnSuccess = "Success", OnFailure = "Fail" }, new { id = "formsubmit", @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Student.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Student.Name, new { htmlAttributes = new { @class = "form-control", required = "required", @placeholder = "Enter Name" } })
                            @Html.ValidationMessageFor(model => model.Student.Name, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Student.Age, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Student.Age, new { htmlAttributes = new { @class = "form-control", required = "required", @placeholder = "Enter Age" } })
                            @Html.ValidationMessageFor(model => model.Student.Age, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Student.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.DropDownListFor(model => model.Student.Gender, new List<SelectListItem>
                           {
                               new SelectListItem() {Text = "Male" },
                               new SelectListItem() {Text = "Female" },
                               new SelectListItem() {Text = "Others" },
                           }, "-Select Category-", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Student.Gender, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Student.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Student.Phone, new { htmlAttributes = new { @class = "form-control", required = "required", @placeholder = "Enter Phone" } })
                            @Html.ValidationMessageFor(model => model.Student.Phone, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Student.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Student.Email, new { htmlAttributes = new { @class = "form-control", required = "required", @placeholder = "Enter Email" } })
                            @Html.ValidationMessageFor(model => model.Student.Email, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Student.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.TextAreaFor(model => model.Student.Address, new { htmlAttributes = new { @class = "form-control", required = "required", @placeholder = "Enter Address" } })
                            @Html.ValidationMessageFor(model => model.Student.Address, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Student.Course, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.DropDownListFor(model => model.Student.Course, new List<SelectListItem>
                           {
                               new SelectListItem() {Text = "B.Tech" },
                               new SelectListItem() {Text = "BCA" },
                               new SelectListItem() {Text = "MCA" },
                               new SelectListItem() {Text = "Diploma" },
                           }, "-Select Course-", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Student.Course, "", new { @class = "text-danger" })
                        </div>
                        <br />

                        <div class="col-md-12">
                            <input type="hidden" name="id" value="">

                            <button type="Submit" class="btn_1 full_width text-center"
                                    name="btn" id="btnGet" value="Add">
                                Add
                            </button>
                            <button type="Reset" class="btn_1 full_width text-center"
                                    name="btn" value="">
                                Reset
                            </button>
                        </div>
                        @Html.ViewData["Message"]

                    }
                    <div>
                        <p><span id="msg"></span></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <section class="info_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 mt-5 ml-1">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3>About us</h3>
                        </div>
                        <div class="col-md-12 info_container">
                            <div class="contact_nav">
                                <a href="tel:782464745">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span>+91 7824647452</span>
                                </a>
                            </div>
                            <div class="contact_nav">
                                <a href="tel:874677884">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span>+91 874677884</span>
                                </a>
                            </div>
                            <div class="contact_nav">
                                <a href="tel:4848337276">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span>+91 048483372</span>
                                </a>
                            </div>
                            <div class="contact_nav">
                                <a href="tel:964672481">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span>+91 9646724813</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mt-5">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3>Quick links</h3>
                        </div>
                        <div class="col-md-12 info_container">
                            <p><a href="home.html">Home</a></p>
                            <p><a href="about.html">About Us</a></p>
                            <p><a href="contact.html">Contact Us</a></p>
                            <p><a href="gallery.html">Gallery</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mt-5">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3>Social Links</h3>
                        </div>
                        <div class="col-md-12 info_container">
                            <a href="#" class="link-box">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="link-box">
                                <i class="fab fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="link-box">
                                <i class="fab fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="link-box">
                                <i class="fab fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="link-box">
                                <i class="fab fa-twitter" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mt-5">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3>Address</h3>
                        </div>
                        <div class="col-md-12 info_container">
                            <p>53, Khunti - Chaibasa Rd, near Premsons Motor, Ancillary Industrial Area, Pithiyatil, Ranchi, Jharkhand 834003</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <footer class="footer_section">
        <div class="container">
            <p>
                &copy; @DateTime.Now.Year - Developed by Brightcode Software services Pvt. Ltd.
            </p>
        </div>
    </footer>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            "type": "GET",
            "url": "/Home/Register",
            "datatype": "json",
            success: function(data) {
                // Handle the JSON response here
                console.log(data);
                $('#msg').text(data);
            }
        });
    });
    </script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
